image: java:openjdk-8

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - apt-get update -y
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  script: ./gradlew jacocoRootReport --stacktrace

upload_lib:
  stage: deploy
  script: ./gradlew bintrayUpload
  when: on_success
